@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body::-webkit-scrollbar {
  width: 0.3rem;
}
/*Estilos del deslizador*/
body::-webkit-scrollbar-thumb {
  background: linear-gradient(#323542, #080530);
  border-radius: 1rem;
}

.title {
  background-color: #0E1047;
  color: white;
  text-align: center;
  font-family: "Courier Prime", serif;
  font-weight: 600;
  font-size: 2.5rem;
}

.form {
  background-color: #DFE5ED;
  padding: 1rem;
}

label {
  font-family: "Roboto", serif;
  color: #0E1047;
  font-weight: 500;
  font-size: 1.5rem;
}

#products_title {
  font-family: "Courier Prime", serif;
  font-weight: 600;
  background: #0E1047;
  color: white;
  font-size: 1.5rem;
}
#products_text {
  color: #0E1047;
}

/* Contenedor principal */
.container {
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

/* Título */
h1 {
  text-align: center;
  font-weight: bold;
  color: #34495e;
  margin-bottom: 30px;
}

/* Estilo de los labels */
label {
  font-weight: bold;
  color: #34495e;
}

/* Inputs */
input {
  border-radius: 8px;
  border: 1px solid #ced4da;
  padding: 10px;
}

/* Botones */
.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
  border-radius: 20px;
}

.btn-primary:hover {
  background-color: #0056b3;
  border-color: #0056b3;
}

.btn-danger {
  background-color: #e74c3c;
  border-color: #e74c3c;
  border-radius: 20px;
}

.btn-danger:hover {
  background-color: #c0392b;
  border-color: #c0392b;
}

/* Tabla */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  background: #ffffff;
  border-radius: 10px;
  overflow: hidden;
  font-family: "Roboto", serif;
  font-weight: 500;
  font-size: 1.5rem;
}

table th {
  background-color: #34495e;
  color: white;
  text-align: left;
  padding: 10px;
}

table td {
  padding: 10px;
  border-bottom: 1px solid #dddddd;
}

table tr:nth-child(even) {
  background-color: #f2f2f2;
}

table tr:hover {
  background-color: #f1f1f1;
}
/*Card*/
#card {
  width: 50rem;
  background-color: white;
  padding: 6rem;
  padding-right: 1rem;
}

/*Encabezado card*/
#card_header {
  font-family: "Courier Prime", serif;
  font-weight: 600;
  background: #0E1047;
  color: white;
  font-size: 1.5rem;
}

/*Card Valores*/
li {
  font-size: 1rem;
  background-color: #ffffff;
  font-family: "Roboto", serif;
  color: black;
  font-weight: 500;
  font-size: 1.5rem;
}

/*Botón Pagar*/
#btnInvoice {
  font-family: "Courier Prime", serif;
  font-weight: 600;
  background: #0E1047;
  color: white;
  font-size: 1.5rem;
  padding: 10px;
  border-radius: 25px;
  width: 6rem;
}

/*PO/*POPUP */
.popup {
  display: none; /*Oculto por defecto */
  background: #F4F7FC;
  padding: 2rem;
  position: fixed;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  max-height: 80%;
  background-color: #E9EFF7;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  animation: fadeIn 0.5s ease-out;
  overflow-y: auto;
  border-radius: 10px;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

/* Botón de cierre */
.close {
  background: #0E1047;
  color: white;
  border-radius: 50%;
  padding: 10px;
  font-size: 30px;
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
  transition: background 0.3s ease;
}

.close:hover {
  background: #0E1047;
}

/* Título del Popup */
.title_popup {
  color: #2F3A56;
  text-align: center;
  font-family: "Courier Prime", serif;
  font-weight: 700;
  font-size: 2.8rem;
  margin-bottom: 1.5rem;
}

/* Cabecera del Popup (Nombre e ID) */
.header_popup {
  font-family: "Roboto", sans-serif;
  color: #2F3A56;
  font-weight: 500;
  font-size: 1.8rem;
  background: #FFFFFF;
  padding: 1rem;
  margin: 0.5rem 0;
  border-radius: 8px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

/* Tabla de Productos */
#invoiceProducts th {
  background-color: #2F3A56;
  color: white;
  font-family: "Courier Prime", serif;
  font-weight: 600;
  font-size: 1.6rem;
  text-align: center;
  padding: 1rem;
  border-radius: 5px;
}

/* Filas de la tabla */
#invoiceProducts td {
  padding: 1rem;
  text-align: center;
  font-size: 1.4rem;
  color: #4A4A4A;
}

/* Sección de valores (Subtotal, IVA, Total) */
#values {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  font-family: "Roboto", sans-serif;
  color: #2F3A56;
  font-weight: 500;
  font-size: 1.8rem;
  padding: 2rem 3rem;
  background-color: #FFFFFF;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  margin-top: 1rem;
}

/* Efectos de Hover en las filas de la tabla */
#invoiceProducts tr:hover {
  background-color: #F1F4F8;
  transition: background-color 0.3s ease;
}

table th, table td {
  word-wrap: break-word;
  overflow: hidden;
  text-overflow: ellipsis; /* Añade puntos suspensivos si el texto es muy largo */
  max-width: 100px; /* Ajusta el ancho según sea necesario */
}
.popup::-webkit-scrollbar:horizontal {
  width: 0.3rem;
  height: 0.3rem
}
/*Deslizador pop up*/
.popup::-webkit-scrollbar {
  width: 0.3rem;
}
/*Estilos del deslizador*/
.popup::-webkit-scrollbar-thumb {
  background: linear-gradient(#323542, #080530);
  border-radius: 1rem;
}

/*Botón Confirmar Pago*/
#confirm {
  font-family: "Courier Prime", serif;
  font-weight: 600;
  background: #0E1047;
  color: white;
  font-size: 1.5rem;
  padding: 10px;
  margin-top: 1rem;
  border-radius: 25px;
  width: max-content;
}